Repository cengage/react-magma, pull requests merged in 2024-09, with the labels that each got.

#1427 fix(accordion): fix screen scroll behavior during accordion navigation
  .changeset/fix-accordion-navigation.md
  packages/react-magma-dom/src/components/Accordion/useAccordionButton.ts
Labels: ready for review

#1430 fix(DatePicker): Remove the shortcut to open the `HelperInformation` component.
  .changeset/a11y-datePicker-shortcut.md
  packages/react-magma-dom/src/components/DatePicker/CalendarMonth.tsx
  packages/react-magma-dom/src/components/DatePicker/DatePicker.test.js
  packages/react-magma-dom/src/components/DatePicker/HelperInformation.tsx
  packages/react-magma-dom/src/components/DatePicker/index.tsx
  packages/react-magma-dom/src/components/DatePicker/utils.ts
  packages/react-magma-dom/src/i18n/default.ts
  packages/react-magma-dom/src/i18n/interface.ts
  website/react-magma-docs/src/pages/api/internationalization.mdx
Labels: bug, react-magma-dom, react-magma-docs, a11y, ready for review

#1446 feat(treeview): add ability to change items selection outside
  .changeset/treeViewSelectItemsOutside.md
  packages/react-magma-dom/src/components/TreeView/TreeItem.test.js
  packages/react-magma-dom/src/components/TreeView/TreeItem.tsx
  packages/react-magma-dom/src/components/TreeView/TreeItemContext.ts
  packages/react-magma-dom/src/components/TreeView/TreeView.stories.tsx
  packages/react-magma-dom/src/components/TreeView/TreeView.test.js
  packages/react-magma-dom/src/components/TreeView/TreeView.tsx
  packages/react-magma-dom/src/components/TreeView/TreeViewContext.ts
  packages/react-magma-dom/src/components/TreeView/index.ts
  packages/react-magma-dom/src/components/TreeView/types.ts
  packages/react-magma-dom/src/components/TreeView/useTreeItem.ts
  packages/react-magma-dom/src/components/TreeView/useTreeView.ts
  packages/react-magma-dom/src/components/TreeView/utils.ts
  website/react-magma-docs/src/pages/api/tree-view.mdx
Labels: react-magma-dom, react-magma-docs, ready for review, storybook

#1450 fix(search): Fix losing focus during loading
  .changeset/a11y-search-loading.md
  packages/react-magma-dom/src/components/Search/index.tsx
Labels: a11y, ready for review

#1434 fix(Select): Fix accessibility issue.
  .changeset/a11y-select-accessibility.md
  packages/react-magma-dom/src/components/Select/MultiSelect.tsx
  packages/react-magma-dom/src/components/Select/Select.tsx
  packages/react-magma-dom/src/components/Select/SelectContainer.tsx
  packages/react-magma-dom/src/components/Select/SelectTriggerButton.tsx
  packages/react-magma-dom/src/components/Select/shared.ts
  packages/react-magma-dom/src/i18n/default.ts
  packages/react-magma-dom/src/i18n/interface.ts
Labels: bug, react-magma-dom, a11y, ready for review

#1453 fix(treeview): fix switching to Focus Mode inside `TreeView`
  .changeset/a11y-treeview-navigation.md
  packages/react-magma-dom/src/components/TreeView/TreeItem.tsx
  packages/react-magma-dom/src/components/TreeView/TreeView.test.js
  packages/react-magma-dom/src/components/TreeView/useTreeItem.ts
Labels: bug, react-magma-dom, a11y, ready for review

#1458 fix(treeview): fix initial expanded items should expand all parents
  .changeset/fix-initial-expanded-items-should-expand-all-parents.md
  packages/react-magma-dom/src/components/TreeView/TreeView.stories.tsx
  packages/react-magma-dom/src/components/TreeView/TreeView.test.js
  packages/react-magma-dom/src/components/TreeView/useTreeView.ts
  packages/react-magma-dom/src/components/TreeView/utils.ts
Labels: bug, react-magma-dom, ready for review

#1463 feat(button): Add success button
  .changeset/feat-success-button.md
  packages/react-magma-dom/src/components/Button/Button.stories.tsx
  packages/react-magma-dom/src/components/Button/index.tsx
  packages/react-magma-dom/src/components/StyledButton/styles.ts
  website/react-magma-docs/src/pages/api/button.mdx
  website/react-magma-docs/src/pages/api/icon-button.mdx
Labels: react-magma-dom, feature request, ready for review
